{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Página Inicial </title>
    <link rel="shortcut icon" href="{% static 'imagens/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/estilo.css' %}"> -->
    <script src="{% static 'javascript/jquery-3.6.0.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.js' %}"></script>
</head>

<body>
   
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="http://127.0.0.1:8000/inicio/" class="nav-link px-2 text-white">Início</a></li>
                <li><a href="http://127.0.0.1:8000/listar/nutriente" class="nav-link px-2 text-white">Listar Nutrientes</a></li>
                <li><a href="http://127.0.0.1:8000/listar/categoria" class="nav-link px-2 text-white">Listar Categorias</a></li>
                <li><a href="http://127.0.0.1:8000/sobre/" target="_blank" class="nav-link px-2 text-white"> Sobre </a></li>
            </ul>
            
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                <a class="nav-link" href="{% url 'alterar-senha' %}">Mudar senha</a>
            </div>
        </div>
    </div>

    
</header>

<div class='container m-3'>
    {% block conteudo %}
   
    {% endblock %}
</div>


</body>

</html>
